
 html, body {
    margin: 0;
    padding: 0;
    font-family: Monaco, 'Lucida Console', monospace;
}

body {
	border-top: 5px solid #92d13d;
}

.container {
	max-width: 1024px;
	margin: 0px auto;
	padding: 0px 20px;
}

h1 {
    margin: 0;
    padding: 20px 0px;
    font-size: 28px;
}

a {
	color: rgb(100, 148, 35);
	text-decoration: none;
}

a:hover {
	color: #92d13d;
}

.nav {
	background: #333;
  border-top: 2px solid #2a2a2a;
  border-bottom: 2px solid #2a2a2a;
}

.nav ul {
    margin: 0;
    padding: 10px 0px;
    font-size: 16px;
    height: 20px;
}

.nav ul li {
	float: left;
	padding: 0px 20px 0px 0px;
	list-style-type: none;
}

.nav ul li a {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-decoration: none;
	line-height: 20px;
}

.nav ul li a:hover {
	color: #92d13d;
}

.nav ul li.submenu ul {
	display: none;
	position: absolute;
}

.nav ul li.submenu:hover ul {
	display: block;
}

.nav ul li.submenu ul li {
	float: none;
	background-color: #333;
	padding: 10px;
}