@()(content: Html)

<div class="container">
	<h1>AngularJS HTML5 routing on PlayFramework 2.1</h1>
</div>

<div class="nav">
	<div class="container">
		<ul class="nav">
			<li><a href="/">Index</a></li>
			<li><a href="/page1">Page1</a></li>
			<li><a href="/page2">Page2</a></li>
			<li><a href="/colors/1">Color#1</a></li>
			<li><a href="/colors/2">Color#2</a></li>
			<li><a href="/users">Users</a></li>
			<li><a href="/users/1">User#1</a></li>
			<li><a href="/users/2">User#2</a></li>
			<li class="submenu">
				<a>Router</a>
				<ul>
					<li><a href="/routing/public1">Public1</a></li>
					<li><a href="/routing/public2">Public2</a></li>
					<li><a href="/routing/authenticated">Authenticated</a></li>
					<li><a href="/routing/admin1">Admin1</a></li>
					<li><a href="/routing/admin2">Admin2</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	@content
</div>